@import '~bootstrap/scss/bootstrap';

main {
    .jumbotron {
        height: 250px;
        background-image: url('../img/jumbotron.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
}